groq
streamlit               
easyocr            
python-dotenv   
numpy                    
Pillow                    
scikit-learn            
concurrent.futures        
wikipedia-api             
torch      
opencv-python  