groq              
easyocr            
python-dotenv   
numpy                    
Pillow                    
scikit-learn                  
wikipedia-api              
tiktoken
requests
futures
torch
opencv-python-headless
Pillow

